/node_modules
/public/hot
!/public/uploads
/public/storage
/public/frontend/web/uploads/
/public/user-order
/public/uploads/files/packages/
/public/uploads/account/profile/
/public/uploads/user-order/
/storage/*.key
/vendor
/.idea
.editorconfig
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
