/*NAVS*/
.nav-languages{
    position: relative;
}

.nav-languages__link{
    font-size: 16px;
    color: var(--black-2);
    text-decoration: none;
}

.nav-languages__link-img{
    position: relative;
    top: -3px;
}

.nav-languages-2{
    position: absolute;
    right: 0;
    bottom: -60px;
    display: block;
    min-width: 83px;
    padding-left: 8px;
    background: white;
    border: 1px solid black;
    border-radius: 8px;
}

.language-col-mob{
    display: none;
}
.language-col-mob{
    position: relative;
    left: 19px;
    top: -2px;
    padding-bottom: 10px;
}
.nav-languages-2__link{
    display: block;
    padding: 2px 10px;
    font-size: 16px;
    color: var(--black-2);
    text-align: center;
    text-decoration: none;
}

.nav-languages-2__link:hover{
    background: var(--black-2);
    color: var(--white);
    transition: all .5s;
}


.nav-menu__item--active .nav-menu__link{
    color: var(--yellow);
}

.nav-menu__item:last-child .nav-menu__link{
    padding-right: 0;
}

.nav-menu__link{
    padding: 5px 25px;
    font-size: 16px;
    color: var(--black-2);
    text-decoration: none;
    transition: all .5s;
}

.nav-menu__link:hover{
    color: var(--yellow);
    transition: all .5s;
}

.mobile-menu__item{
    display: block;
    width: 25px;
    height: 3px;
    background: var(--white);
    margin-bottom: 5px;
}

.mobile-menu__item:last-child{
    margin-bottom: 0;
}

.nav-breadcrumbs__item{
    position: relative;
}

.nav-breadcrumbs__link{
    padding-right: 3px;
    font-size: 16px;
    color: var(--black-2);
}

.nav-breadcrumbs__item:not(.nav-breadcrumbs__item--active)::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../../images/content/other-breadcrumb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center -3px;
    transform: rotate(180deg);
    margin-right: 7px;
}



.nav-breadcrumbs__item--active{
    font-size: 16px;
    color: var(--yellow);
}

.nav-tab-categories{
    margin-bottom: 31px;
}

.nav-tab-categories__link{
    position: relative;
    padding: 5px 10px;
    background: var(--white);
    font-size: 14px;
    color: var(--black-2);
    border: 1px solid var(--blue);
    border-radius: 8px;
}

.nav-tab-categories__link--active{
    background: var(--blue);
    color: var(--white);
    z-index: 1;
}

.nav-tab-categories__link-img{
    position: relative;
    top: 4px;
    height: 25px;
    width: 25px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.nav-contact{
    margin-bottom: 20px;
}

.nav-contact__item{
    font-size: 14px;
    color: var(--black-2);
    margin-bottom: 10px;
}

.nav-contact__img{
    margin-right: 10px;
}

.nav-socials{
    margin-bottom: 10px;
}

.nav-socials__item{
    width: 30px;
    height: 30px;
    background: var(--white);
    margin-right: 10px;
    border-radius: 100%;
}

.nav-rules{
    list-style-type: decimal;
    list-style-position: inside;
}

.nav-rules__item{
    font-size: 16px;
    color: var(--black-2);
    margin-bottom: 20px;
}

.nav-rules__item:last-child{
    margin-bottom: 0;
}

.nav-restrictions-products{
    display: block;
    list-style: square;
    list-style-position: inside;
}

.nav-restrictions-products__item{
    font-size: 16px;
    color: var(--black-2);
    margin-bottom: 20px;
}

.nav-profile-menu{
    padding-top: 20px;
    display: block;
    background: var(--yellow2);
    padding-bottom: 20px;
    border-radius: 10px;
}

.nav-profile-menu__link{
    display: block;
    padding: 5px 40px;
    font-size: 20px;
    color: var(--black-2);
    cursor: pointer;
    margin-bottom: 20px;
}

.nav-profile-menu__link:hover{
    color: var(--yellow);
}

.nav-profile-menu__link:hover .nav-profile-menu__link-img:nth-child(1){
    display: none;
}

.nav-profile-menu__link:hover .nav-profile-menu__link-img:nth-child(2){
    display: block;
}

.nav-profile-menu__link--active{
    color: var(--yellow);
}

.nav-profile-menu__link-img{
    max-width: 62px;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}

.nav-profile-menu__link-img:nth-child(1){
    display: block;
}

.nav-profile-menu__link-img:nth-child(2){
    display: none;
}

.nav-profile-menu__link--active .nav-profile-menu__link-img:nth-child(1){
    display: none;
}

.nav-profile-menu__link--active .nav-profile-menu__link-img:nth-child(2){
    display: block;
}

.nav-menu-2__link{
    display: block;
    padding-bottom: 20px;
    font-size: 14px;
    color: var(--black-2);
    text-decoration: none;
}

 .header-bottom {
     position: relative;
     z-index: 1000;

 }
.nav-menu__item {
    position: relative;
}

.dropdown-arrow {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(45deg);
    margin-left: 8px;
    margin-top: 7px;
    transition: transform 0.3s ease;
}

.nav-menu__item:hover .dropdown-arrow {
    transform: rotate(-135deg);
    margin-top: 11px;
}

.dropdown-menu-nav {
    position: absolute;
    top: 100%;
    /*right: 0;*/
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    width: auto;
    text-align: left;
}

.nav-menu__item:hover .dropdown-menu-nav {
    display: block;
}

.dropdown-menu-nav li {
    padding: 10px 15px;
    white-space: nowrap;
}

.dropdown-menu-nav li a {
    text-decoration: none;
    color: #333;
    display: block;
    font-weight: bold;
    font-size: 12px;
}

.dropdown-menu-nav li:hover {
    background-color: #f4f4f4;
}
@media only screen and (max-width: 992px) {
    .language-col-mob{
        display: block;
    }
    .language-col{
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    
    .nav-languages-2{
        right: unset;
        left: 50px;
    }
    .nav-breadcrumbs{
        margin-top: 15px;
    }
}
